{% extends "base.html.twig" %}
{% block title %}Stockeur {{ owner.name }}{% endblock %}
{% block body %}
  <h1>Stockeur {{ owner.name }}</h1>
  <form>
    <div class="form-group">
      <label for="name">Nom</label>
      <input type="text" class="form-control" id="name" name="name" value="{{ owner.name }}"> 
    </div>
    <button type="submit" class="btn btn-primary">Enregister</button>
  </form>
{% endblock %}