{% extends "base.html.twig" %}
{% block title %}Liste des Propriétaires{% endblock %}
{% block body %}
  <h1>Liste des Propriétaires</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <caption>Liste des Propriétaires</caption>
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom</th>
        </tr>
      </thead>
      <tbody>
        {% for owner in owners %}
          <tr>
            <th scope="row">{{ owner.id }}</th>
            <td>{{ owner.name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <p>
    Page: {{ page }}
  </p>
{% endblock %}